//-==========================
  extends
//-==========================
extends ./_layouts/layout-common.pug


//-==========================
  view
//-==========================
block contents

  section.uk-section
    .uk-container
      p 404 not found test
